html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

html * {
  font-family: monospace;
}

#mapid {
  background: #262626;
  height: 100%;
  width: 100%;
}

#title {
  position: absolute;
  left: 10px;
  z-index: 402;
  color: white;
}

#info-button {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 999;
  text-decoration: none;
}

.modal-window {
  text-align: center;
  position: fixed;
  background-color: rgba(255, 255, 255, 0.25);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s;
  &:target {
    visibility: visible;
    opacity: 1;
    pointer-events: auto;
  }
  & > div {
    max-width: 900px;
    min-width: 200px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 2em;
    background: white;
  }
  header {
    font-weight: bold;
  }
  h1 {
    font-size: 150%;
    margin: 0 0 15px;
  }
}

.modal-close {
  color: #aaa;
  line-height: 50px;
  font-size: 80%;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  width: 70px;
  text-decoration: none;
  &:hover {
    color: black;
  }
}

#info-feed {
  color:white;
  position: absolute;
  left: 10px;
  bottom: 40px;
  z-index: 401;

  a {
    color: white;
  }
}

.change-info {
  animation: fadein 1s;
  text-align: start;
  color:white;
}

/* Adapted from https://loading.io/css/ */
.ripple .ring {
  position: absolute;
  border: 2px solid rgba(255, 255, 255, 0.39);
  opacity: 0;
  border-radius: 50%;
  animation: ripple 3s cubic-bezier(0, 0.2, 0.8, 1);
}
.ripple .ring:nth-child(2) {
  animation-delay: -0.5s;
}
@keyframes ripple {
  0% {
    top: -10px;
    left: -10px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}
.point {
  height: 5px;
  width: 5px;
  background-color: rgba(255, 255, 255, 0.473);
  border-radius: 50%;
  animation: fadein 2s;
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
